body {
    max-width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    top: 50%;
}

h2 {
    text-align: center;
    color: #86888c;
    font-size: 1.05rem;
    font-family: Regular, Arial, Helvetica;
}

/* Estilos para el contenedor de la línea */
.line-container {
    display: flex; /* Usar flexbox para alineación */
    justify-content: space-between; /* Espaciado entre texto y slider */
    align-items: center; /* Alinear verticalmente */
    margin: 10px 0; /* Espaciado vertical */
    color: #86888c;
    font-size: 1rem;
    font-family: Regular, Arial, Helvetica;
}

.ambito {
    font-family: Light, Arial, Helvetica;
    color: #5cb615;
    font-size: 1.375rem;
    text-align: center;
    padding: 10px 0 0;
}

.accordion {
    border: 1px solid #ccc;
    margin: 10px 0;
}

.accordion-header {
    background-color: #0078d7;
    color: white;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
}

.subheader {
    margin-left: 60px;
}

.accordion-content {
    background-color: white;
    padding: 10px;
    display: none;
}

/* Estilos para el switch */
.switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 34px;
}

input:checked + .slider {
    background-color: #5cb615;
}

input:checked + .slider:before {
    transform: translateX(45px);
}
